.facebook {
  color: white; }

.instagram {
  color: white; }

.whats {
  color: white; }

.accordion-button:is(.collapsed)::after {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%2396213f'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>"); }

header .navegador {
  background-color: #e0e1ec; }

header .nav {
  background-color: #e0e1ec; }

header .nav-link {
  margin: 10px;
  padding: 10px;
  color: #96213f;
  font-size: 20px;
  font-weight: bold; }

footer {
  background-color: #453d44;
  font-family: EB Garamond, serif;
  color: white; }
  footer a {
    text-decoration: none;
    margin: 10px; }
  footer .pie1 {
    display: inline-block;
    font-family: EB Garamond, serif;
    padding: 10px; }
  footer .pie2 {
    display: inline-block;
    /*padding: 0px 50px 10px 50px;*/
    font-family: EB Garamond, serif;
    padding: 10px; }
  footer .pie3 {
    display: inline-block;
    font-family: EB Garamond, serif;
    padding: 10px; }

* {
  margin: 0;
  padding: 0; }

body {
  font-family: EB Garamond, serif; }

.tarjetaRedes {
  display: inline-block;
  position: fixed;
  right: 0;
  top: 45%; }

.tarjetaRedes li {
  list-style: none;
  margin-top: 10px;
  margin-bottom: 10px; }

h1 {
  color: #96213f;
  font-family: EB Garamond, serif;
  text-align: center;
  margin-top: 60px;
  font-size: 2.5rem; }

h2 {
  color: #96213f;
  font-family: EB Garamond, serif;
  text-align: center;
  font-size: 2rem; }

h3 {
  text-align: center;
  font-size: 1.5rem;
  color: #96213f; }

h4 {
  text-align: center;
  font-size: 1rem;
  font-family: EB Garamond, serif; }

p {
  text-align: center;
  font-size: 1rem;
  font-family: EB Garamond, serif;
  color: #96213f;
  justify-content: center; }

.contenedorMas {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px; }

.tamImagen img {
  height: 600px;
  object-fit: cover; }

.vMas {
  height: 20px;
  width: 90px;
  background-color: #96213f; }
  .vMas a {
    color: white;
    text-decoration: none; }

.vMas :hover {
  background-color: white;
  color: #96213f;
  text-decoration: none;
  border-color: #96213f; }

main {
  margin-bottom: 80px;
  padding-top: 50px;
  padding-bottom: 50px; }

.migasPan a {
  list-style: none;
  color: #96213f;
  font-family: EB Garamond, serif;
  text-decoration: none; }

.migasPan .espacioPan {
  padding-left: 15px; }

.imgNosotros, .multimedia {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 30px;
  margin-top: 10px;
  /* box-shadow: 10px 2px 10px;  
  opacity: 90%;*/ }

.texNosotros {
  text-align: center;
  margin-top: 10px;
  text-justify: center; }

.multimedia {
  margin-top: 30px;
  margin-bottom: 30px; }

.imagenesCatalogo {
  justify-content: center;
  margin: 50px; }

.contenedorImg {
  margin-top: 40px; }

.imagenesInicio {
  margin-top: 50px;
  margin-bottom: 30px;
  /*width: 200px;
  height: 400px;*/ }

#contacto {
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center; }

#contacto form {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 50vw; }

.campo {
  display: block;
  width: 50%;
  padding: 10px;
  margin: 10px auto; }

.mapa {
  width: 400px;
  height: 300px; }

.tamBotonForm {
  width: 200px;
  margin: auto; }

p {
  color: #96213f;
  font-family: EB Garamond, serif; }

.boton {
  background-color: #96213f;
  color: white;
  border-color: #96213f;
  border-radius: 6px;
  height: 40px;
  width: 200px;
  padding: 2px;
  margin: auto;
  margin-bottom: 30px; }

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(150, 33, 63, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e"); }

.navbar-toggler:focus {
  border: 0;
  box-shadow: none;
  border-radius: 0; }

.navbar-toggler {
  border: 0; }

/*.texFrecuentes{
  margin-top: 50px;
}*/
.estiloPreguntas {
  font-family: EB Garamond, serif;
  color: #96213f;
  font-size: 1.5rem; }

.estiloRespuestas {
  color: #96213f; }

.aniImag {
  transition: height 0.1s, width 0.1s; }

.aniImag :hover {
  height: 180px;
  width: 230px;
  opacity: 90%; }

@media (max-width: 768px) {
  #contacto form {
    width: 90vw; }
  .campo {
    width: 60%; }
  .texto {
    display: none; }
  h1 {
    font-size: 2rem; }
  .texNosotros h3 {
    font-size: 1rem; } }

@media (max-width: 400px) {
  .texto {
    display: none; }
  h1 {
    font-size: 1.5rem; }
  .encabezado {
    display: none; }
  .pie2 {
    display: none; }
  .pie3 h5 {
    font-size: 1rem; }
  .imagenesCatalogo {
    margin-left: 70px; }
  #contacto form {
    width: 90vw; }
  .campo {
    width: 90%; }
  h2 {
    font-size: 1.5rem; }
  h3 {
    font-size: 1rem; }
  .tamImagen img {
    height: 300px;
    object-fit: cover; }
  .estiloPreguntas {
    font-size: 1.2rem; }
  .acordionAncho {
    width: 90%;
    margin-left: 15px; }
  .mapa {
    width: 300px; } }
