* {
  margin: 0;
  padding: 0;
}
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital@1&display=swap");
body {
  font-family: "EB Garamond", serif;
}
.navegador {
  background-color: rgb(224, 225, 236);
}
.nav-link {
  margin: 10px;
  padding: 10px;
  color: rgb(150, 33, 63);
  font-size: 20px;
  font-weight: bold;
}
main {
  margin-bottom: 150px;
  padding-top: 50px;
  padding-bottom: 50px;
}
.tarjetaRedes {
  display: inline-block;
  position: fixed;
  right: 0;
  top: 45%;
}
.tarjetaRedes li {
  list-style: none;
}
a {
  color: rgb(150, 33, 63);
  text-decoration: none;
}
.texto {
  text-align: center;
}
.imagenesCatalogo {
  justify-content: space-around;
  margin-left: 70px;
}
.multimedia {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
  margin-bottom: 30px;
  justify-content: space-around;
}
h2 {
  color: rgb(150, 33, 63);
}
.contenedorContacto {
  text-align: center;
  margin: 50px;
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.contacto {
  width: 300px;
  height: 250px;
  align-content: center;
  justify-content: center;
}
.contacto input {
  margin: 10px auto;
}
footer {
  background-color: rgb(69, 61, 68);
}
.pie {
  color: rgb(150, 33, 63);
  width: 100%;
}
.pie1 {
  display: inline-block;
}
.pie2 {
  display: inline-block;
  padding: 0px 50px 10px 50px;
}
.pie3 {
  display: inline-block;
}
h1 {
  font-family: "EB Garamond", serif;
  margin-top: 60px;
  color: rgb(150, 33, 63);
  text-align: center;
}
.boton {
  background-color: white;
  color: rgb(150, 33, 63);
  border-radius: 6px;
  height: 40px;
  width: 100px;
  padding: 2px;
  margin-bottom: 50px;
}
.aniImag {
  transition: height 0.1s, width 0.1s;
}
.aniImag :hover {
  height: 200px;
  width: 250px;
}
@media (max-width: 400px) {
  .texto {
    display: none;
  }
  h1 {
    font-size: 1.5rem;
  }
  .encabezado {
    display: none;
  }
  .pie2 {
    display: none;
  }
}
