footer {
  background-color: rgb(69, 61, 68);
  font-family: $familiaFuente;
  color: white;
  a {
    text-decoration: none;
    margin: 10px;
  }
  .pie1 {
    display: inline-block;
    font-family: $familiaFuente;
    padding: 10px;
  }
  .pie2 {
    display: inline-block;
    font-family: $familiaFuente;
    padding: 10px;
  }
  .pie3 {
    display: inline-block;
    font-family: $familiaFuente;
    padding: 10px;
  }
}
