* {
  margin: 0;
  padding: 0;
}
@mixin estiloCuerpo {
  color: $colorPrincipal;
  font-family: $familiaFuente;
  text-align: center;
}
body {
  font-family: $familiaFuente;
}
.tarjetaRedes {
  display: inline-block;
  position: fixed;
  right: 0;
  top: 45%;
}
.tarjetaRedes li {
  list-style: none;
  margin-top: 10px;
  margin-bottom: 10px;
}
h1 {
  @include estiloCuerpo();
  margin-top: 60px;
  font-size: $tamFuente;
}
h2 {
  @include estiloCuerpo();
  font-size: $tamFuente - 1;
}
h3 {
  text-align: center;
}
main {
  margin-bottom: 150px;
  padding-top: 50px;
  padding-bottom: 50px;
}
.migasPan {
  a {
    list-style: none;
    color: $colorPrincipal;
    font-family: $familiaFuente;
    text-decoration: none;
  }
}
.imgNosotros {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 30px;
}
.multimedia {
  @extend .imgNosotros;
  margin-top: 30px;
  margin-bottom: 30px;
}
.imagenesCatalogo {
  justify-content: center;
  margin: 50px;
}
.contenedorContacto {
  text-align: center;
  margin: 50px;
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.contacto {
  width: 300px;
  height: 250px;
  align-content: center;
  justify-content: center;
}
.contacto input {
  margin: 10px auto;
}
.boton {
  background-color: map-get($map: $estBoton, $key: fondo);
  color: map-get($map: $estBoton, $key: color);
  border-color: map-get($map: $estBoton, $key: borde);
  border-radius: 6px;
  height: 40px;
  width: 100px;
  padding: 2px;
  margin-bottom: 50px;
}
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(150, 33, 63, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.navbar-toggler:focus {
  border: 0;
  box-shadow: none;
  border-radius: 0;
}
.navbar-toggler {
  border: 0;
}
.aniImag {
  transition: height 0.1s, width 0.1s;
}
.aniImag {
  & :hover {
    height: 200px;
    width: 250px;
  }
}
@media (max-width: 400px) {
  .texto {
    display: none;
  }
  h1 {
    font-size: 1.5rem;
  }
  .encabezado {
    display: none;
  }
  .pie2 {
    display: none;
  }
  .imagenesCatalogo {
    margin-left: 70px;
  }
}
