* {
  margin: 0;
  padding: 0;
}
@mixin estiloCuerpo {
  color: $colorPrincipal;
  font-family: $familiaFuente;
  text-align: center;
}
body {
  font-family: $familiaFuente;
}
.tarjetaRedes {
  display: inline-block;
  position: fixed;
  right: 0;
  top: 45%;
}
.tarjetaRedes li {
  list-style: none;
  margin-top: 10px;
  margin-bottom: 10px;
}
h1 {
  @include estiloCuerpo();
  margin-top: 60px;
  font-size: $tamFuente;
}
h2 {
  @include estiloCuerpo();
  font-size: $tamFuente - 0.5;
}
h3 {
  text-align: center;
  font-size: $tamFuente - 1;
  color: $colorPrincipal;  
}
h4{text-align: center;
  font-size: $tamFuente - 1.5;
  font-family: $familiaFuente;
}
p{
  text-align: center;
  font-size: $tamFuente - 1.5;
  font-family: $familiaFuente;
  color: $colorPrincipal;
  justify-content: center;
}
.contenedorMas{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
}
.tamImagen img {  
  height: 600px;  
  object-fit: cover;
}
.vMas{ 
  height: 20px;
  width: 90px; 
  background-color: $colorPrincipal;  
  a{color: white;
  text-decoration: none;
  }
}
.vMas{
  & :hover {    
    background-color: white;
    color: $colorPrincipal;
    text-decoration: none;
    border-color: $colorPrincipal;
  }
}

main {
  margin-bottom: 150px;
  padding-top: 50px;
  padding-bottom: 50px;
}
.migasPan {
  a {    
    list-style: none;
    color: $colorPrincipal;
    font-family: $familiaFuente;
    text-decoration: none;
  }
.espacioPan{
  padding-left: 15px;
}
}
.imgNosotros {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 30px;
  margin-top: 10px;
  box-shadow: 10px 2px 10px;  
  opacity: 90%;

}
.texNosotros{
  text-align: center;
  margin-top: 40px;
  text-justify: center;
}
.multimedia {
  @extend .imgNosotros;
  margin-top: 30px;
  margin-bottom: 30px;
}
.imagenesCatalogo {
  justify-content: center;
  margin: 50px;
}
.imagenesInicio{
  margin-top: 20px;
  margin-bottom: 20px;
  img{
    border-radius: 5px;
  }
}
#contacto {
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;  
}
#contacto form {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 50vw;
}
.campo {
  display: block;
  width: 50%;
  padding: 10px;
  margin: 10px auto;
}
.tamBotonForm {
  width: 200px;
  margin: auto;
}
p {
  color: $colorPrincipal;
  font-family: $familiaFuente;
}
.boton {
  background-color: map-get($map: $estBoton, $key: fondo);
  color: map-get($map: $estBoton, $key: color);
  border-color: map-get($map: $estBoton, $key: borde);
  border-radius: 6px;
  height: 40px;
  width: 200px;
  padding: 2px;
  margin: auto;
  margin-bottom: 30px;
}
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(150, 33, 63, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.navbar-toggler:focus {
  border: 0;
  box-shadow: none;
  border-radius: 0;
}
.navbar-toggler {
  border: 0;
}
/*.texFrecuentes{
  margin-top: 50px;
}*/
.estiloPreguntas{
  font-family: $familiaFuente;
  color: $colorPrincipal;
  font-size: $tamFuente - 1;
}

.estiloRespuestas{
  color: $colorPrincipal;
}
.aniImag {
  transition: height 0.1s, width 0.1s;
}
.aniImag {
  & :hover {
    height: 200px;
    width: 250px;
  }
}
@media(max-width:790px){
  #contacto form {
    width: 90vw;       
   }  
   .campo {
    width: 60%;
   }
}
@media (max-width: 450px) {
  .texto {
    display: none;
  }
  h1 {
    font-size: 1.5rem;
  }
  .encabezado {
    display: none;
  }
  .pie2 {
    display: none;
  }
  .imagenesCatalogo {
    margin-left: 70px;
  }
  #contacto form {
   width: 90vw;       
  }
  .campo {
   width: 90%;
  }
  h2 {
   font-size: 1.5rem;
  }
  h3 {    
   font-size: 1rem;      
  }
  .tamImagen img {    
   height: 300px;    
   object-fit: cover;
  }
  .estiloPreguntas{
    font-size: $tamFuente - 1.3;
  }
  .acordionAncho{
    width: 90%;
    margin-left: 15px;
  }
} 
