$colorPrincipal: rgb(150, 33, 63);
$familiaFuente: EB Garamond, serif;
$tamFuente: 2.5rem;

@mixin estiloCuerpo {
  color: $colorPrincipal;
  font-family: $familiaFuente;
  text-align: center;
}

$mapSocial: (
  facebook: white,
  instagram: white,
  whats: white,
);

@each $social, $color in $mapSocial {
  .#{$social} {
    color: $color;
  }
}
$estBoton: (
  color: white,
  fondo: rgb(150, 33, 63),
  borde: rgb(150, 33, 63),
);
.accordion-button:is(.collapsed)::after {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%2396213f'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>");
  }
 