$colorPrincipal: rgb(150, 33, 63);
$familiaFuente: EB Garamond, serif;
$tamFuente: 2.5rem;

/*@mixin estiloCuerpo {
    color: $colorPrincipal;
    font-family: $familiaFuente;
    text-align: center;        
}*/


